doctype html
html(lang="en" ng-app="HNTab")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title HN Tab

    link(rel="stylesheet" href="/css/vendor.min.css")
    link(rel="stylesheet" href="/css/style.min.css")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo:400,700")
    link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

    script(src="/js/vendor/zepto.min.js")
    script(src="/js/vendor/packery.min.js")
    script(src="/js/vendor/angular.min.js")
    script(src="/js/vendor/async.min.js")
    script(src="/js/vendor/jquery.ogp.min.js")

    script(src="/js/tracking.js")

    script(src="/js/hntab.js")
    script(src="/js/hntab-packery.js")

    script(src="https://use.typekit.net/bnd8hqe.js")
    script(src="/js/typekit.js")

  body(ng-controller="main")
    header
      a.apps(ng-click="goApps()") Apps
      h1 Hacker News

    ul#content
      .gutter-sizer
      .grid-sizer
      li.item(ng-if="item.points != null" ng-repeat="(i, item) in content | orderBy:'points':true" ng-style="{ background: generateBackground(item, i) }" ng-class="{ hnHighlight: areCommentsHovered(item) }" ontouchstart="this.classList.toggle('hover');" danny-packery)
        .flipper
          .front
            .points {{ item.points }}
            .title {{ item.title }}
            .domain {{ item.domain }}
          .back
            .overlay
              a.link(ng-href="{{ item.url }}")
                i.fa.fa-link
              a.comments(ng-mouseenter="setHNHighlight(item, true)" ng-mouseleave="setHNHighlight(item, false)" ng-href="https://news.ycombinator.com/item?id={{ item.id }}")
                i.fa.fa-comment-o
                | {{ item.comment_count }}

